@model IEnumerable<ProyectoFinal_JeanSibaja.Models.Maquina>

@{
    ViewData["Title"] = "Maquina";
}

<h1>Listado de Maquinas</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombre_descriptivo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cant_producto_x_hora)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.costo_operacion_x_hora)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.probabilidad_fallo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.horas_en_reparacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha_de_compra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombre_descriptivo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cant_producto_x_hora)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.costo_operacion_x_hora)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.probabilidad_fallo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.horas_en_reparacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fecha_de_compra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.estado)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", item) |
                @Html.ActionLink("Delete", "Delete", item)
            </td>
        </tr>
}
    </tbody>
</table>
